@charset "UTF-8";
/*RESET*/
html,body,div,span,h3,h2,p,blockquote,pre,a,cite,code,img{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
strike,strong,em,sub,sup,dl,dt,dd,ol,ul,li,form,label,table,caption{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
tbody,tfoot,thead,tr,th,td,canvas,footer,header,menu,nav,section,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
footer,header,menu,nav,section{display:block;border:0;}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
body{background:url(bg1.jpg) no-repeat fixed center;background-size:100% 100%;
    font-weight:300;font-size:80%;color:white;font-family:'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif;}
.wrap{min-width:560px;max-width:700px;margin:0 auto;padding:0 10px;height:640px;position:relative;}
.phone{width:322px;overflow:hidden;margin:0 auto;padding-top:2px;
	   height:640px;position:absolute;left:0px;top:50%;transform:translateY(-50%);}
.border{border-left:1px solid #F6F6F6;border-right:1px solid #F6F6F6;box-sizing:border-box;}
.top{background:url(top.png) no-repeat center;height:46px;width:100%;background-size:100% 100%;}
.bot{background:url(bot.png) no-repeat center;height:46px;width:100%;background-size:100% 100%;}
.state{background:url(NetXXBJ.gif) no-repeat center;height:20px;background-size:100% 100%;}
.title{height:40px;line-height:40px;font-size:20px;text-align:center;background:#000;color:#fff;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.content{height:490px;overflow:hidden;}
/* code & share */
.code{height:240px;width:200px;overflow:hidden;float:right;padding-top:108px;}
.code span{width:186px;font-size:12px;display:block;line-height:24px;text-align:center;color:red;}
@media screen  and (min-height:800px) and (max-height:900px){.code{padding-top:210px;}}
@media screen  and (min-height:901px) and (max-height:1000px){.code{padding-top:260px;}}
@media screen  and (min-height:1001px) and (max-height:1100px){.code{padding-top:310px;}}
@media screen  and (min-height:1101px) and (max-height:1200px){.code{padding-top:360px;}}
@media screen  and (min-height:1201px) and (max-height:1500px){.code{padding-top:460px;}}
@media screen  and (min-height:1501px) and (max-height:1700px){.code{padding-top:590px;}}
@media screen  and (min-height:1701px) {.code{padding-top:700px;}}
@media screen  and (min-width:1200px) and (max-width:1400px){.wrap{max-width:800px;}}
@media screen  and (min-width:1401px) and (max-width:1800px){.wrap{max-width:1000px;}}
@media screen  and (min-width:1801px) and (max-width:2400px){.wrap{max-width:1200px;}}
@media screen  and (min-width:2401px) {.wrap{max-width:1600px;}}