@charset "UTF-8";
/* display css: ht-height wt-width*/
.ht2{height:2%;}.ht5{height:5%;}.ht10{height:10%;}.ht20{height:20%;}
.ht30{height:30%;}.ht40{height:40%;}.ht50{height:50%;}.ht60{height:60%;}
.ht25{height:25%;}.ht33{height:33.333%;}.ht70{height:70%;}.ht80{height:80%;}
.wt2{width:2%;}.wt5{width:5%;}.wt10{width:10%;}.wt20{width:20%;}
.wt30{width:30%;}.wt40{width:40%;}.wt50{width:50%;}.wt60{width:60%;}
.wt25{width:25%;}.wt33{width:33.333%;}.wt70{width:70%;}.wt80{width:80%;}
/*show content*/
#page1{background:url(../pic/bg1.jpg) no-repeat center;background-size:cover;}
#page2{background:url(../pic/bg2.jpg) no-repeat center;background-size:cover;}
#page3{background:url(../pic/bg3.jpg) no-repeat center;background-size:cover;} 
#page4{background:url(../pic/bg1.jpg) no-repeat center;background-size:cover;} 
#page5{background:url(../pic/bg2.jpg) no-repeat center;background-size:cover;} 
.page h3{color:rgb(34, 88, 1);font-size:2em;font-weight:bolder;text-align:center;padding:20px 0 0;}
.page h4{color:rgb(34, 88, 1);font-size:1.2em;text-align:center;margin:0;padding:0;line-height:24px;}
.page .text{margin:10px;padding:10px;background:url(../pic/bgcolor.png) repeat;border-radius:20px;}
.page .text p{color:rgb(34, 88, 1);line-height:18px;}
/* animation.css应用  必须加.active确保每次播放 */
.active .page h3{-webkit-animation:zoomIn 1s ease 0s 1 both;-moz-animation:zoomIn 1s ease 0s 1 both;animation:zoomIn 1s ease 0s 1 both;}
.active .page div{-webkit-animation:zoomIn 1s ease 0s 1 both;-moz-animation:zoomIn 1s ease 0s 1 both;animation:zoomIn 1s ease 0s 1 both;}