/*RESET*/
html,body,div,span,h3,h2,p,blockquote,pre,a,cite,code,img{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
strike,strong,em,sub,sup,dl,dt,dd,ol,ul,li,form,label,table,caption{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
tbody,tfoot,thead,tr,th,td,canvas,footer,header,menu,nav,section,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
footer,header,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* animation */
@-webkit-keyframes rotating{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}
@-moz-keyframes rotating{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(360deg)}}
@keyframes rotating{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
@-webkit-keyframes start{0%,30%{opacity:0;-webkit-transform:translate(0,10px)}60%{opacity:1;-webkit-transform:translate(0,0)}100%{opacity:0;-webkit-transform:translate(0,-8px)}}
@-moz-keyframes start{0%,30%{opacity:0;-moz-transform:translate(0,10px)}60%{opacity:1;-moz-transform:translate(0,0)}100%{opacity:0;-moz-transform:translate(0,-8px)}}
@keyframes start{0%,30%{opacity:0;transform:translate(0,10px)}60%{opacity:1;transform:translate(0,0)}100%{opacity:0;transform:translate(0,-8px)}}
/*cqustone*/
body{font-weight:300;font-size:80%;line-height:1.231;min-height:100%;color:white;
    font-family:'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif;overflow:hidden;
    background:url(bg.jpg) no-repeat fixed center;background-size:cover;user-select:none;-moz-user-select: none;-webkit-user-select:none;}
canvas{display:block;margin:0 auto;}
/* wrap*/
.phone{width:322px;height:640px;float:Left;overflow:hidden;margin:0 auto;padding-top:2px;}
.top{background:url(top.png) no-repeat center;height:48px;width:100%;background-size:100% 100%;}
.bot{background:url(bot.png) no-repeat center;height:45px;width:100%;background-size:100% 100%;}
.state{background:url(NetXXBJ.gif) no-repeat center;height:20px;background-size:100% 100%;}
.title{display:block;height:40px;line-height:40px;background:#000;color:#fff;
    text-align:center;border-left:1px solid #F6F6F6;border-right:1px solid #F6F6F6;font-size:24px;
	overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;}
.con{background-color:#000;position:relative;cursor:pointer;height:486px;overflow:hidden;
	border-left:1px solid #F6F6F6;border-right:1px solid #F6F6F6;box-sizing:border-box;}
/* progress */
.progress {position:absolute;width:100%;bottom:0px;left:0;z-index:50;background-color:rgba(0,0,0,.2);}
.progress span {height:3px;width:0;background-color:#08A1EF;transition:width 800ms cubic-bezier(0.260,.860,.440,.985);display:block;}
.progress em.page-tip{display:inline-block;position:absolute;right:0;top:-15px;font-size:12px;padding-left:5px;}
/* loading audio arrow */
.load{z-index:100;width:100%;height:100%;}
#audio{width:30px;height:30px;position:absolute;right:20px;top:20px;z-index:50;display:none;}
.off{background:url(music.svg) no-repeat center;background-size:contain;display:block;}
.on{-webkit-animation:rotating 1.2s linear infinite;-moz-animation:rotating 1.2s linear infinite;
    -o-animation:rotating 1.2s linear infinite;animation:rotating 1.2s linear infinite;}
.arrow{position:absolute;z-index:50;width:24px;height:14px;bottom:20px;left:50%;margin-left:-7px;}
.arrow .push{width:24px;height:14px;-webkit-animation:start 1.5s infinite ease-in-out;
			-moz-animation:start 1.5s infinite ease-in-out;animation:start 1.5s infinite ease-in-out;}
.arrow .left,.arrow .right{height:15px;width:11px;position:absolute;top:-5px;overflow:hidden;}
.arrow .right{left:10.5px;}
.arrow .leftin,.arrow .rightin{background-color:#fff;width:14px;height:5px;border-radius:2px;
	box-shadow:1px -1px 1px #646464;position:absolute;top:5px;
	transform:rotate(130deg);-webkit-transform:rotate(130deg);left:1px;}
.arrow .rightin{transform:rotate(50deg);-webkit-transform:rotate(50deg);left:-4.5px;}
/* contrl */
.ctrl_panel{float:left;padding-top:110px;}
.ctrl_panel a{cursor:pointer;background:#2096f9;color:#fff;font-size:12px;
	width:20px;height:70px;left:50%;top:47px;padding:20px 8px 0;text-align:center;
	border:1px solid #2096f9;border-top-right-radius:5px;border-bottom-right-radius:5px;}
.ctrl_panel a:hover{color:#2096f9;background-color:white;}
.ctrl_panel .pre_btn{display:block;margin-bottom:40px;}
.ctrl_panel .next_btn{display:block;}
/* code */
.code{float:right;padding-top:100px;}
.code span{font-size:12px;display:block;line-height:24px;}

/*show content*/
.page{background:#4BBFC3;width:100%;height:100%;word-break:break-all;overflow:hidden;
	display:-webkit-box;-webkit-box-orient:vertical;-webkit-transform-origin:center center;}
#page1{background:url(../pic/bg1.jpg) no-repeat center;background-size:cover;}
#page2{background:url(../pic/bg2.jpg) no-repeat center;background-size:cover;} 
#page3{background:url(../pic/bg3.jpg) no-repeat center;background-size:cover;} 
#page4{background:url(../pic/bg4.jpg) no-repeat center;background-size:cover;} 
#page5{background:url(../pic/bg1.jpg) no-repeat center;background-size:cover;}


.page h3{color:rgb(34, 88, 1);font-size:2em;font-weight:bolder;text-align:center;padding:6px 0 0;}
.page .pic{text-align:center;padding-top:20px;}
.page .pic img{width:120px;height:auto;border:3px solid rgb(195, 246, 73);border-radius:8px;}
#page2 h3{color:white;}

/* 动画定义 必须加.active保证每次加载均有动画效果(方法一见jQuery代码) */
.active .page h3{animation:zoomIn 1s ease 0s 1 both;}
.active .page img{animation:zoomIn 1s ease 0s 1 both;}

/* Media Queries 此处宽度(width)跟html中的三元表达式相关 !important*/
@media screen and (max-width:559px){
	.ctrl_panel,.code{display:none;}
	.wrap{width:100%;left:0;margin-left:0;}
	.phone{width:100%;}
	.con{width:100%;}
}
@media screen and (min-width:700px){
	.wrap{width:700px; margin:0 auto;}
}
/* Media Queries 处理高度(height)自适应问题 */
@media screen and (max-height:525px){
	.top,.bot,.state,.title{display:none;height:0;}
	.wrap{height:100%;}
	.phone{height:100%;}
	.con{height:100%;}
	.arrow{bottom:12px;}
	.progress{bottom:2px;}
}
@media screen and (min-height:526px) and (max-height:639px){
	.top,.bot,.state{display:none;height:0;}
	.wrap{height:100%;}
	.phone{height:100%;}
	.con{height:100%;}
	.arrow{bottom:52px;}
	.progress{bottom:42px;}
}